:root {
    --primary-color: #0b3c5d;
    --secondary-color: #328cc1;
    --accent1-color: #d9b310;
    --accent2-color: #1d2731;

    --heading-font: Arial, sans-serif;
    --body-font: Verdana, sans-serif;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

/* WIDTH */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* HEADINGS */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* SPACING */
nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* HERO */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: white;
}

.hero article {
    position: absolute;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SOCIAL MEDIA */
.socialmedia a {
    text-decoration: none;
}